@import './index.css';

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1
}

::view-transition-new(root) {
  z-index: 9999
}

.dark::view-transition-old(root) {
  z-index: 9999
}

.dark::view-transition-new(root) {
  z-index: 1
}

.manual_detail {
  @apply p-2 md:p-6 bg-background;

  .content_header {
    @apply mb-4 border-b-2 border-border pb-2 p-4;
    
    h1 {
      @apply text-3xl pb-1;
    }

    h2 {
      @apply text-sm text-muted-foreground;
    }
  }

  .body {
    @apply text-primary leading-relaxed p-4;

    .section-header {
      @apply text-xl font-bold my-4 ;
    }
    
    .image > img {
      @apply w-[320px] md:w-[1280px] h-[180px] md:h-[720px] mx-auto md:mx-0 my-4 dark:brightness-75 object-scale-down;
    }
    
    .caption {
      @apply text-muted-foreground text-sm mt-2 mb-4;
    }

    .image:has(+ .caption) {
      @apply mb-2;
    }
    
    .images {
      @apply grid grid-cols-1 md:grid-cols-2 gap-4 my-4;
    
      .image_list {
        @apply flex flex-col;
    
        dd img {
          @apply w-[320px] h-[180px] md:w-[720px] md:h-[405px] mx-auto md:mx-0 dark:brightness-75 object-cover;
        }
    
        .caption {
          @apply text-muted-foreground text-sm mt-2 mb-0;
        }
      }
    }
  }
}